#app {
  font-family: 'Open Sans', sans-serif;
  background-color: #F5F5F5;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .mainContent {
    background-color: #fff;
    padding: 0;
  }
  .space {
    flex: 1;
  }
}