.navbar {
  .navbar-brand {
    min-width: 205px;
    min-height: 52px;
    .logo {
      width: 36px;
    }
  }
  .sign-out {
    color: #FF4D00;
    transition: 0.3s ease-out;
    font-size: 14px;
    &:hover {
      color: #212529;
      background: #FF4D00;
      transition: 0.3s ease-in;
    }
  }
}