.login {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .content {
    min-height: calc(100vh - 70px);
    position: relative;
    background-image: url("~@/assets/images/bg_login_cms.png");
    object-fit: cover;
    .card {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      background-color: rgba(137, 137, 137, 0.3);
      border: none;
      border-radius: 50px;
      text-align: center;
      min-width: 500px;
      .title {
        padding: 0 0 12px 0;
        font-size: 27px;
        font-weight: bold;
      }
      .input-field {
        input {
          background-color: transparent !important;
          border: none;
          border-bottom: 1px solid #9e9e9e;
          border-radius: 0;
          outline: none;
          height: 3rem;
          width: 100%;
          font-size: 16px;
          margin: 0 0 8px 0;
          padding: 0;
        }
        input:focus::placeholder {
          color: transparent;
        }
        label {
          color: #9e9e9e;
          position: absolute;
          top: 0;
          transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
          transform-origin: 0% 100%;
          text-align: initial;
          transform: translateY(12px);
        }
      }
      .form-group {
        margin-top: 36px;
        .btn-login {
          background: #EA8025;
          border: none;
          border-radius: 50px;
          font-weight: 500;
          font-size: 14px;
          line-height: 19px;
          color: #ffffff;
        }
      }
    }
  }
}