<template>
  <div id="content" class="vld-parent edit-form py-4">
    <form action="#" method="post" @submit.prevent="submitItem()">
      <table class="table editPage">
        <tr>
          <td><label for="displayName">Họ và Tên</label></td>
          <td>
            <input type="text" class="form-control" v-model="data.name" name="displayName" id="displayName" :class="{ 'is-invalid': submitted && $v.data.name.$error }" />
            <div v-if="submitted && $v.data.name.$error" class="invalid-feedback">
              <span v-if="!$v.data.name.required"> {{ 'Vui lòng Họ và Tên.' }} </span>
            </div>
          </td>
        </tr>
        <tr>
          <td><label for="email">Email</label></td>
          <td>
            <input type="text" class="form-control" v-model="data.email" name="email" id="email" :class="{ 'is-invalid': submitted && $v.data.email.$error }" />
            <div v-if="submitted && $v.data.email.$error" class="invalid-feedback">
              <span v-if="!$v.data.email.required"> {{ 'Vui lòng email.' }} </span>
              <span v-if="!$v.data.email.email"> {{ 'Email không hợp lệ.' }} </span>
            </div>
          </td>
        </tr>
        <tr>
          <td><label for="email">Mật khẩu</label></td>
          <td>
            <input type="password" class="form-control" v-model="data.password" name="password" id="password" :class="{ 'is-invalid': submitted && $v.data.password.$error }"  />
            <div v-if="submitted && $v.data.password.$error" class="invalid-feedback">
              <span v-if="!$v.data.password.required"> {{ 'Vui lòng mật khẩu.' }} </span>
              <span v-if="!$v.data.password.minLength"> {{ 'Mật khẩu ít nhất 6 ký tự.' }} </span>
            </div>
          </td>
        </tr>
        <tr>
          <td class="content-custom" colspan="2" style="text-align: center;">
            <router-link :to="`/list-admin`">
              <button type="button" class="btn button-delete">Hủy</button>
            </router-link>
            <button type="submit" class="btn button-info">Tạo Tài Khoản</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</template>
<script>

import { required, minLength, email } from "vuelidate/lib/validators";
import { registerNewAdmin } from '@/services/admin';

export default {
  name: 'AddAdmin',
  components: { },
  props: {},
  data () {
    return{
      listCate: [],

      data: {
        name: null,
        email: null,
        password: null
        
      },
      file: null,
      submitted: false,
    }
  },
  validations: {
    data: {
      name: {required },
      email: {required, email},
      password: {required, minLength: minLength(6)}
    }
  },

  methods:{
    async submitItem(){
      this.submitted = true;
      this.$v.data.$touch()
      if (this.$v.data.$invalid) {
        return;
      }

      const loader = this.$loading.show({ container:  this.$refs.content });
      const result = await registerNewAdmin(this.data).catch(() => loader.hide());

      if(result.status === 'error')  this.$toast.error(result.message)
      else {
        this.$toast.success("Tạo tài khoản thành công");
        this.$router.push({name: 'listadmin'})
      }

      loader.hide()
    },

  },

   mounted(){
   }

}
</script>