<template>
  <div id="content" class="vld-parent edit-form py-4">
    <form action="#" method="post" @submit.prevent="submitItem()">
      <table class="table editPage">
        <tr>
          <td><label for="displayName">Họ và Tên</label></td>
          <td>
            <input type="text" class="form-control" v-model="data.adminName" name="displayName" id="displayName" :class="{ 'is-invalid': submitted && $v.data.adminName.$error }" />
            <div v-if="submitted && $v.data.adminName.$error" class="invalid-feedback">
              <span v-if="!$v.data.adminName.required"> {{ 'Vui lòng Họ và Tên.' }} </span>
            </div>
          </td>
        </tr>
        <tr>
          <td><label for="email">Email</label></td>
          <td>
            <input type="text" class="form-control" v-model="data.email" name="email" id="email" :class="{ 'is-invalid': submitted && $v.data.email.$error }" />
            <div v-if="submitted && $v.data.email.$error" class="invalid-feedback">
              <span v-if="!$v.data.email.required"> {{ 'Vui lòng email.' }} </span>
              <span v-if="!$v.data.email.email"> {{ 'Email không hợp lệ.' }} </span>
            </div>
          </td>
        </tr>
        <tr>
          <td><label for="email">Mật Khẩu</label></td>
          <td>
            <input type="password" class="form-control" v-model="data.password" name="password" id="password" :class="{ 'is-invalid': submitted && $v.data.password.$error }"  />
            <div v-if="submitted && $v.data.password.$error" class="invalid-feedback">
              <span v-if="!$v.data.password.minLength"> {{ 'Mật khẩu ít nhất 6 ký tự.' }} </span>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: center;">
            <router-link :to="`/list-admin`">
              <button type="button" class="btn button-delete">Hủy</button>
            </router-link>
            <button type="submit" class="btn button-info">Cập Nhật Tài Khoản</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</template>
<script>

import { required, minLength, email } from "vuelidate/lib/validators";
import { updateAdminName, getAdminData, updateAdminPassword } from '@/services/admin';

export default {
  name: 'EditAdmin',
  components: { },
  props: {},
  data () {
    return{
      listCate: [],

      data: {
        adminName: null,
        email: null,
        password: null,
        uid: null,
        
      },
      submitted: false,
    }
  },
  validations: {
    data: {
      adminName: {required },
      email: {required, email},
      password: {minLength: minLength(6)}
    }
  },

  methods:{
    async submitItem(){
      this.submitted = true;
      this.$v.data.$touch()
      if (this.$v.data.$invalid) {
        return;
      }

      const loader = this.$loading.show({ container:  this.$refs.content });

      await updateAdminName({
        adminid: this.data.uid,
        name: this.data.adminName,
        email: this.data.email
      }).catch(() => []);

      if(this.data.password){
         await updateAdminPassword({
          adminid: this.data.uid,
          password: this.data.password
        }).catch(() => []);
      }

      this.$toast.success('Update success');
      this.$router.push({name: 'listadmin'})


      loader.hide()
    },

    async getAdmin(){
      const id = this.$route.params.id;
      this.data = await getAdminData(id)
        .then(r => {
          if(r.error) return Promise.reject(r)
          delete r.password
          return r
        })
        .catch(() =>{
          this.$toast.error("Item not found");
          this.$router.push({name: 'listadmin'})
        })
    }

  },

   mounted(){
     this.getAdmin()
   }

}
</script>