<template>
  <div id="content" class="detailOrder" v-if="data">
    <div class="header">
      <p> Tên khách hàng: {{ data.name }} </p>
      <p> Địa chỉ giao hàng: {{ data.address }} </p>
      <p> Ngày đặt hàng: {{ converTime(data.time) }} </p>
      <p> 
        Tình trạng: 
        
        <select class="form-control d-inline" style="width: 150px" @change="changeStatusOrder($event.target.value, data.id, data.uid)">
          <option :selected="data.status === '1' "  value="1">Chờ xác nhận</option>
          <option :selected="data.status === '2' " value="2">Đang tiến hành</option>
          <option :selected="data.status === '3' " value="3">Đã hoàn thành</option>
        </select>
      </p>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Mã sản phẩm</th>
          <th>Tên sản phẩm</th>
          <th>Số lượng</th>
          <th>Tổng tiền</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) of data.product || []" :key="index">
					<td>{{ item.id }}</td>
					<td>{{ item.name }}</td>
          <td>{{ item.quantity }}</td>
					<td>{{ formatPrice((+item.quantity) * (+item.price)) }}đ</td>
				</tr>
        <tr>
          <td class="total-order" colspan="3" style="text-align: right;">Tổng tiền chưa áp dụng khuyến mãi</td>
					<td>{{ formatPrice(+data.totalPrice1 || 0) }}đ</td>
				</tr>
        <tr>
          <td class="total-order" colspan="3" style="text-align: right; border: none;">Khuyến mãi</td>
					<td style="border: none;">0%</td>
				</tr>
        <tr>
          <td class="total-order" colspan="3" style="text-align: right; border: none;">Tổng tiền cuối cùng</td>
					<td style="border: none;">{{ formatPrice(+data.totalPrice2 || 0) }}đ</td>
				</tr>
      </tbody>
    </table>
  </div>
</template>



<script>

import { getCart, updateStatus } from '@/services/order';

export default {
  name: 'DetailOrder',
	data(){
		return {
			data: null,
      textSearch: ''
		}
	},

  methods:{
    converTime(time){
      let currency = "/";
      let fullDate = new Date(+time);

      let dd   = fullDate.getDate();
      if( dd < 10 )  dd = '0' + dd;

      let mm   = fullDate.getMonth() + 1;
      if( mm < 10 )  mm = '0' + mm;

      let yyyy   = fullDate.getFullYear();

      return dd + currency + mm + currency + yyyy;
    },

    formatPrice(n, currency, fix = 1) {
      if(!currency) currency = "";
      if(!n || n === 0) return 0 + ` ${currency}`;
      return n.toFixed(fix).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') + ' ' + currency;
    },

    async getCart() {
      this.submitted = true;
			const id = this.$route.params.id;
      let loader = this.$loading.show({ container:  this.$refs.content });
      this.data = await getCart(id)
				.then(res => res)
				.catch(() => null)
				.finally(() => loader.hide())
    },

    async changeStatusOrder(status, id, uid){
      const confi = confirm("Bạn muốn update trạng thái đơn hàng!")
      if(confi){
        let loader = this.$loading.show({ container:  this.$refs.content });
        await updateStatus({status, id, uid})
				.then((res) => {
          if(res.status === "ok")
            this.$toast.success(res.message)
          else this.$toast.error(res.message)
        })
				.catch(() => [])
				.finally(() => loader.hide())
      }
      console.log(confi, event, id)
    }


  },

   mounted(){
     this.getCart()
   }

}
</script>