<template>
  <div id="app">
    <Header />
    <div class="tab-content mainContent d-flex">
      <Sidebar />
      <router-view/>
    </div>
    <div class='space'></div>
    <Footer />
  </div>
</template>
<script>
    import Header from "@/components/Header";
    import Footer from "@/components/Footer";
    import Sidebar from "@/components/Sidebar";
    export default {
        name: "App",
        components: {
            Header,
            Footer,
            Sidebar
        },

        computed: {

        },
    };
</script>
<style lang="scss">
  @import "@/assets/stylesheet/application.scss";
</style>
