<template>
  <div id="sidebar-wrapper" class="sidebar-menu">
    <div class="sidebar-element">
      <router-link :to="{name:'category'}" class="sidebar-element_name">Danh Mục Sản Phẩm</router-link>
    </div>
    <div class="sidebar-element">
      <router-link :to="{name:'listproduct'}" class="sidebar-element_name">Danh sách Sản Phẩm</router-link>
    </div>
    <div class="sidebar-element">
      <router-link :to="{name:'listuser'}" class="sidebar-element_name">Tài khoản khách hàng</router-link>
    </div>
    <div class="sidebar-element">
      <router-link :to="{name:'listadmin'}" class="sidebar-element_name">Tài khoản admin</router-link>
    </div>
    <div class="sidebar-element">
      <router-link :to="{name:'listorder'}" class="sidebar-element_name">Danh sách đơn hàng</router-link>
    </div>
  </div>
</template>