<template>
  <div id="content" class="vld-parent edit-form py-4">
    <form action="#" method="post" @submit.prevent="submitItem()">
      <table class="table editPage">
        <tr>
          <td><label for="nameProduct">Tên Sản Phẩm</label></td>
          <td>
            <input type="text" class="form-control" v-model="data.name" name="nameProduct" id="nameProduct" :class="{ 'is-invalid': submitted && $v.data.name.$error }"/>
            <div v-if="submitted && $v.data.name.$error" class="invalid-feedback">
              <span v-if="!$v.data.name.required"> {{ 'Vui lòng nhập name Sản Phẩm.' }} </span>
            </div>
          </td>
        </tr>
        <tr>
          <td><label>Hình Ảnh</label></td>
          <td>
            <img :src="data.image" alt="Trà sữa" width="100px" style="margin-bottom: 10px;" />
            <input type="file" @change="fileChange($event)" class="form-control-file" id="uploadImageProduct" accept="image/*">
          </td>
        </tr>
        <tr>
          <td><label for="contentCategory">Nội Dung</label></td>
          <td>
            <textarea class="form-control" v-model="data.description" rows="3" id="contentProduct" :class="{ 'is-invalid': submitted && $v.data.description.$error }"></textarea>
            <div v-if="submitted && $v.data.description.$error" class="invalid-feedback">
              <span v-if="!$v.data.description.required"> {{ 'Vui lòng nhập Nội Dung Sản Phẩm.' }} </span>
            </div>
          </td>
        </tr>
        <tr>
          <td><label for="nameProduct">Giá Tiền</label></td>
          <td>
            <input type="number" min="1" class="form-control" v-model="data.price" name="nameProduct" id="nameProduct" :class="{ 'is-invalid': submitted && $v.data.price.$error }" />
            <div v-if="submitted && $v.data.price.$error" class="invalid-feedback">
              <span v-if="!$v.data.price.required"> {{ 'Vui lòng nhập giá Sản Phẩm.' }} </span>
            </div>
          </td>
        </tr>
        <tr>
          <td><label for="category">Thuộc Mặt Hàng</label></td>
          <td>
            <select id="category" class="form-control" v-model="data.category" :class="{ 'is-invalid': submitted && $v.data.category.$error }">
              <option v-for="(item, idex) of listCate" :key="idex" :value="item.id">{{ item.name}}</option>
            </select>
            <div v-if="submitted && $v.data.category.$error" class="invalid-feedback">
              <span v-if="!$v.data.category.required"> {{ 'Vui lòng chọn loại Sản Phẩm.' }} </span>
            </div>
          </td>
        </tr>
        <tr>
          <td><label for="bestselling">Sản Phẩm Bán Chạy</label></td>
          <td>
            <select id="bestselling" v-model="data.bestselling" class="form-control" :class="{ 'is-invalid': submitted && $v.data.bestselling.$error }">
              <option value="1">Có</option>
              <option value="0">Không</option>
            </select>
            <div v-if="submitted && $v.data.category.$error" class="invalid-feedback">
              <span v-if="!$v.data.category.required"> {{ 'Vui lòng nhập giá Sản Phẩm.' }} </span>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: center;">
            <router-link :to="`/list-product`">
              <button type="button" class="btn button-delete">Hủy</button>
            </router-link>
            <button type="submit" class="btn button-info">Tạo Mới</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</template>


<script>
import { required } from "vuelidate/lib/validators";
import { getAllCategory } from '@/services/category';
import { getProduct, updateProduct } from '@/services/product';
import * as firebase from 'firebase';

export default {
  name: 'AddProduct',
  components: { },
  props: {},
  data () {
    return{
      listCate: [],

      data: {
        bestselling: 1,
        category: null,
        description: null,
        name: null,
        price: null,
        image: null,
        id: null
        
      },
      file: null,
      submitted: false,
    }
  },
  validations: {
    data: {
      bestselling: {required },
      category: {required},
      description: {required},
      name: {required},
      price: {required},
    }
  },

  methods:{
    async submitItem(){
      this.submitted = true;
      this.$v.data.$touch()
      if (this.$v.data.$invalid) {
        return;
      }

      const data = {
        ...this.data,
        bestselling: this.data.bestselling.toString()
      }
      let loader = this.$loading.show();

      if(this.file) {
        const img = await this.uploadFile(this.file).catch(() => null);
         if(img){
          data.image = img;
         }
      }
    
      const result = await updateProduct(data).catch(() => loader.hide());

      if(result.status === 'error')  this.$toast.error(result.message)
      else {
        this.$toast.success(result.message);
        this.dataCreate = {name: ''};
        this.isCreated = false;
        this.$router.push({name: 'listproduct'})
      }
      loader.hide()
    },

    async fileChange(event){
      const [file] = event.target.files;
      let f = !!file;

      if(f){
        if(file.type.search('image') < 0){
          f = false;
          this.$toast.error("File type invalid")
          event.target.value = "";
          this.file = null;
        }
      }

      if(f){
        this.file = file
      }
    },

    uploadFile(file){
      const metadata = {  contentType: 'image/*',  };
      // const FBCONFIG = {
      //   apiKey: "AIzaSyA7Qn7AWRZyr_VEzeoDej2nG1hQPbk5in4",
      //   authDomain: "tea24hstore.firebaseapp.com",
      //   databaseURL: "https://tea24hstore.firebaseio.com",
      //   projectId: "tea24hstore",
      //   storageBucket: "tea24hstore.appspot.com",
      //   messagingSenderId: "468573818462",
      //   appId: "1:468573818462:web:c10553668aa73cd18b2ecf",
      //   measurementId: "G-ECB2WKW04W"
      // };
      // if (!firebase.apps.length) {
      //   firebase.initializeApp(FBCONFIG);
      // }
      // const appFirebase = firebase.initializeApp(FBCONFIG);
      return new Promise( (resolve, reject) => {
        const uploadTask = firebase.storage().ref('img/' + Date.now()).put(file, metadata);
        uploadTask.on(
          'state_changed',
          function() {},
          function(error) { return reject(error)},
          function() {
            uploadTask.snapshot.ref.getDownloadURL().then(function(downloadURL) {
              resolve(downloadURL)
            });
          }
        )
      })
    },

    async getAllCate() {
      this.submitted = true;
			
      let loader = this.$loading.show({ container:  this.$refs.content });
      this.listCate = await getAllCategory()
				.then(res => res.data)
				.catch(() => [])
				.finally(() => loader.hide())
    },

    async getItemEdit(){
      const id = this.$route.params.id;
      this.data = await getProduct(id)
        .then(r => {
          if(r.status === 'error') return Promise.reject(r)
          return r.data
        })
        .catch(() =>{
          this.$toast.error("Item not found");
          this.$router.push({name: 'listproduct'})
        })
    }
  },

   mounted(){
     this.getAllCate();
     this.getItemEdit()
   }

}
</script>