<template>
  <div id="content" class="vld-parent py-4">
    <div class="feature-content d-flex justify-content-between p-2">
			<input class="form-control search" v-model="textSearch" placeholder="Nhập Nội Dung  tìm kiếm"/>
      <router-link :to="`/list-product/create`">
        <button type="button" class="btn create-new">Tạo Mới</button>
      </router-link>
			
		</div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Mã SP</th>
          <th>Tên SP</th>
          <th>Hình Ảnh</th>
          <th>Giá</th>
          <th width="300px">Mô Tả</th>
          <th width="130px">Thao Tác</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) of getlistData()" :key="index">
					<td>{{ item.id }}</td>
					<td>{{ item.name }}</td>
					<td><img :src="item.image" alt="Trà sữa" width="50px" /></td>
          <td>{{formatPrice(+item.price)}}đ</td>
					<td><div class="line-clamp">{{ item.description }}</div></td>
					<td>
            <router-link :to="`/list-product/${item.id}`">
              <button type="button" class="btn button-info">Sửa</button>
            </router-link>
            
            <button type="button" @click="deleteItem(item.id)" class="btn button-delete">Xóa</button>
          </td>
				</tr>
      </tbody>
    </table>
  </div>
</template>

<script>

import { getAllProduct, deleteProduct } from '@/services/product';

export default {
  name: 'ProductList',
  props: {
    msg: String
  },

	data(){
		return {
			listData: [],
      textSearch: ''
		}
	},

  methods:{
		getlistData(){
			return this.listData.filter(item => {
				return item.name.toLocaleLowerCase().indexOf(this.textSearch.toLocaleLowerCase()) !== -1
			})
		},

    formatPrice(n, currency, fix = 1) {
      if(!currency) currency = "";
      if(!n || n === 0) return 0 + ` ${currency}`;
      return n.toFixed(fix).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') + ' ' + currency;
    },

    async getAllProduct() {
      this.submitted = true;
			
      let loader = this.$loading.show({ container:  this.$refs.content });
      this.listData = await getAllProduct()
				.then(res => res.data)
				.catch(() => [])
				.finally(() => loader.hide())
    },

		async deleteItem(id){
			const r = confirm("Xác nhận xoá!");
			if (r == true) {
				let loader = this.$loading.show({ container:  this.$refs.content });
				const result = await deleteProduct(id)
					.catch(() => loader.hide())
				if(result.status === 'error')  this.$toast.error(result.message)
				else {
					this.$toast.success(result.message)
					await this.getAllProduct();
				}
				loader.hide()
			}
		},

  },

   mounted(){
     this.getAllProduct()
   }

}
</script>